html {
    font-size: 1rem;
}

body {
    font-family:  "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* common rules */

.green {
    background-color: #1abc9c;
}

header .container .row {
    height: 60px;
}


/* header */
header {
    background-color: #2c3e50;
}

.nav-link {
    font-size: 0.7rem;
    font-weight: bold;
}

.green_hover:hover {
    color: #1abc9c;
}


/* main */

/* #jumbo */
#jumbo img {
    width: 50%;
    max-width: 250px;
}

.white_line {
    background-color: white;
    width: 10vw;
    max-width: 100px;
    height: 3px;
    border-radius: 10px;
}


/* #portfolio */
.black_line {
    background-color: rgb(0, 0, 0);
    width: 10vw;
    max-width: 100px;
    height: 3px;
    border-radius: 10px;
}

#portfolio img {
    border-radius: 10px;
}

.img_wrapper {
    width: 100%;
    position: relative;
}

.img_overlay {
    width: 100%;
    height: 100%;
    color: white;
    top: 0;
    left: 0;
    background-color:rgb(26, 188, 156, 0.7);
    position: absolute;
    display: none;
}

.img_overlay i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img_wrapper:hover .img_overlay {
    display: flex;
}

.font_size-40 {
    font-size: 5rem;
}

/* about */

#paragraph-row button {
    border-color: white;
}

#download_btn:hover {
    background-color: #095a4a; !important
}

/* contact */

.noborders {
    border: none;
    outline: none;
}

.border-bot {
    border-bottom: 1px solid lightgray;
}

.no_ps {
    padding-left: 0;
}

::placeholder { 
    color: #586674;
    opacity: 1; 
}

#send-btn:hover {
    background-color: #095a4a; !important
}


/* footer */

footer {
    background-color: #3a546d;
}

.gray_blue {
    background-color: #2c3e50;
}

.text_green {
    color:#1abc9c
}

.icon_foot {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid white;
    line-height: 40px;
    vertical-align: middle;
}

.font_size_point7 {
    font-size: 0.7rem;
}

@media screen and (min-width: 992px) {
    html {
        font-size: 1.2rem;
    }
}


/* debug rules */



/* fine debug rules */